<% if(errors[0]) { %>
    <div class="container-error">
        <div class="alert-error">
            <% errors.forEach(erro => { %>
                <%= erro %><br>
            <% }); %>
        </div>
    </div>
<% } %>

<% if(success[0]) { %>
    <div class="container-success">
        <div class="alert-success">
            <% success.forEach(scs => { %>
                <%= success %><br>
            <% }); %>
        </div>
    </div>
<% } %>