<% if(errors[0]) { %>
    <div class="alert-error">
        <% errors.forEach(erro => { %>
            <%= erro %><br>
        <% }); %>
    </div>
<% } %>

<% if(success[0]) { %>
    <div class="alert-success">
        <% success.forEach(scs => { %>
            <%= success %><br>
        <% }); %>
    </div>
<% } %>