<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
  <div class="nav-container">
    <div class="nav-title-container">
      <p>Project Schedule</p>
    </div>
    <div class="nav-form-container">
      <form class="nav-form" action="/" method="get">
        <button type="submit">Home</button>
      </form>
      <% if(!user) { %>
      <form class="nav-form" action="/login/index" method="get">
        <button type="submit">Login</button>
      </form>
      <% } else { %>
      <form class="nav-form" action="/contato/index" method="get">
        <button type="submit">Add contact</button>
      </form>
      <form class="nav-form" action="/login/logout" method="get">
        <button type="submit">Exit</button>
      </form>
      <% }; %>
    </div>
  </div>
</body>
</html>